.chat
  .chat-header
    .left-header
      .left-header__title チャットグループ１
      .left-header__members Member： 誰々
    .right-header
      Edit
  .messages

    .message
      .upper-message
        .upper-message__user-name
          ユーザー名
        .upper-message__date
          ポストされた日付
      .lower-message
        .lower-message__text
          メッセージ

    .message
      .upper-message
        .upper-message__user-name
          ユーザー名
        .upper-message__date
          ポストされた日付
      .lower-message
        .lower-message__text
          メッセージ

    .message
      .upper-message
        .upper-message__user-name
          ユーザー名
        .upper-message__date
          ポストされた日付
      .lower-message
        .lower-message__text
          メッセージ

  .footer
    = form_for [@group, @message] do |f|
      = f.text_field :message, class: "form__text", placeholder: "type a message"
      .image-button
        = f.label :image, style: "display: none"
        %i#message_image.fa.fa-picture-o.fa-lg
        = f.file_field :image, class: "image-button__image", style: "display: none"
        / = f.hidden_field :image_cache
      = f.submit "Send", class: "form__submit"

