= render "shared/side_bar"
.chat
  .chat-header
    .left-header
      .left-header__title チャットグループ１
      .left-header__members Member： 誰々
    .right-header
      Edit
  .messages
    - @messages.order(created_at: "ASC").each do |message|
      .message
        .upper-message
          .upper-message__user-name
            = message.user.name
          .upper-message__date
            = message.created_at.strftime('%Y/%m/%d %H:%M')
        .lower-message
          .lower-message__text
            = message.content

  .footer
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: "form__text", placeholder: "type a message"
      %label.image-button
        = f.file_field :image, class: "image-button__image", style: "display: none"
        %i#message_image.fa.fa-picture-o.fa-lg
      = f.submit "Send", class: "form__submit"
